<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChooseEventServicesServlet</servlet-name>
        <servlet-class>servlets.ChooseEventServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillOutServicesServlet</servlet-name>
        <servlet-class>servlets.FillOutServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSummary</servlet-name>
        <servlet-class>servlets.OrderSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingServlet</servlet-name>
        <servlet-class>servlets.LandingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventApprovalServlet</servlet-name>
        <servlet-class>servlets.EventApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoggedCustomer</servlet-name>
        <servlet-class>servlets.LoggedCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoggedAdminServlet</servlet-name>
        <servlet-class>servlets.LoggedAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePerformersServlet</servlet-name>
        <servlet-class>servlets.ManagePerformersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEventServicesServlet</servlet-name>
        <servlet-class>servlets.ManageEventServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseEventServicesServlet</servlet-name>
        <url-pattern>/chooseevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillOutServicesServlet</servlet-name>
        <url-pattern>/filloutservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSummary</servlet-name>
        <url-pattern>/ordersummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingServlet</servlet-name>
        <url-pattern>/landing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventApprovalServlet</servlet-name>
        <url-pattern>/eventapprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggedCustomer</servlet-name>
        <url-pattern>/loggedcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggedAdminServlet</servlet-name>
        <url-pattern>/loggedadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePerformersServlet</servlet-name>
        <url-pattern>/manageperformers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEventServicesServlet</servlet-name>
        <url-pattern>/manageeventservices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>landing</welcome-file>
    </welcome-file-list>
</web-app>
